<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="WindowsNavigatorDataBase" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WinNav;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="WindowsNavigator.Properties.Settings.WindowsNavigatorConnectionString"
      connectionString="Data Source=DESKTOP-52UDVT7\SQLEXPRESS;Initial Catalog=WindowsNavigator;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsNavigator.Properties.Settings.WindowsNavigator_Data_WindowsNavigatorDbContextConnectionString"
      connectionString="Data Source=DESKTOP-52UDVT7\SQLEXPRESS;Initial Catalog=WindowsNavigator.Data.WindowsNavigatorDbContext;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsNavigator.Properties.Settings.WindowsNavigatorConnStringConnectionString"
      connectionString="Data Source=DESKTOP-52UDVT7\SQLEXPRESS;Initial Catalog=WindowsNavigatorConnString;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>